{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<header>
    <!-- Ссылки "About Us" и "Contacts" -->
    <nav class="navigation">
        <center>
            <a href="{% url 'main:index' %}"><-Back to Main-</a>
            <a href="/about">-About-</a>
            <a href="/contacts">-Contacts-</a>
            <a href="/cart">-Cart-</a>
            <a href="/admin">-DEV-</a>
        </center>
    </nav>
</header>
<body>

<center>
    <h1>{{title}}</h1>

    <div class="product_card">
        <center>
        <img src="{{ product.product_images.first.image.url }}" class="sub-product-image">
        <div class="card-body">
            <p class="description"> {{ product.description }}</p>
            <p class="price"> {{ product.price }} ₽</p>
        </div>
    </div>
</center>
</body>
</html>
