header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    font-family: Arial, sans-serif;
    text-align: right;
}

.header-image {
    top: 0;
    height: 40px;
}

aside {
    width: 200px; /* Ширина сайдбара */
    height: 100%; /* Высота сайдбара, чтобы он занимал всю высоту экрана */
    position: fixed; /* Фиксированная позиция, чтобы сайдбар оставался видимым при прокрутке */
    margin-top: 0px; /* Положение сверху */
    left: 0; /* Положение слева */
    background-color: #f7fdff; /* Цвет фона сайдбара */
    padding: 20px; /* Отступы внутри сайдбара */
    box-sizing: border-box; /* Учитывать padding внутри заданной ширины */
}

main {
    margin-top: 20px;
    margin-left: 220px; /* Ширина сайдбара плюс отступ между сайдбаром и основным контентом */
    padding: 20px; /* Отступы внутри основного контента */
    box-sizing: border-box; /* Учитывать padding внутри заданной ширины */
}

footer {
    width: 100%;
    height: 300px;
    text-align: right;
}

.footer-image {
    width: 90%;
    height: auto;
}

.container-menu {
    margin-top: 20px;
    display: block;
    width: 100%
}

.menu {
    text-align: center;
    color: black;
    margin: 5px
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 280px;
    height: 350px;
    border: 1px solid #e8f5fa;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px #e8f5fa;
    background-color: white;
}

.product_card {
    flex: 1; /* Занимает все доступное пространство в строке */
    margin-left: 20px;
    border: 1px solid #e8f5fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px e8f5fa;
    background-color: white;
}

.product-image {
    width: auto;
    height: 60%;
    margin-top: 5%;

}

.sub-product-image {
    width: auto;
    height: 500px;
    margin-top: 30px;
}

.viewed_product-image {
    width: auto;
    height: 100px;
    margin-top: 10px;

}

.viewed_card {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 80%;
    height: width;
    border: 0px solid #e6f7fc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px e6f7fc;
    background-color: white;


.card-body {
    padding: 10px;
}

h2 {
    margin-top: 0;
}

.brand {
    font-style: italic;
}

.description {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

div.background {
    position: fixed;
    top: 100%;
    left: 0%;
    width: 200%;
    height: auto%;
}


