header {
    background-color: white;
    position: fixed;
    margin-right: 20px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 80px;
    font-family: Arial, sans-serif;
}

.header-menu {
    text-align: right;
}

.header-image {
    top: 0;
    height: 40px;
}

aside {
    width: 200px;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    left: 0;
    background-color: #f7fdff;
    padding: 20px;
    box-sizing: border-box;
}

main {
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
}

main h1 {
    font-family: sans-serif
    margin-top: 50px;
    margin-left: -50px;
    margin-right: auto;
    letter-spacing: 500%;
}

footer {
    background-color: white;
    display: flex;
    bottom: 0px;
    margin-left: 400px;
    width: auto;
    height: 100px;
    text-align: right;
}

.footer-text {
    color: #e2e2e2;
    font-style: italic;
    font-size: 20px
}

.footer-image {
    height: 100%;
    width:auto;
}

.container-menu {
    margin-top: 20px;
    display: block;
    width: 100%
}

.menu {
    text-align: center;
    color: black;
    margin-top: 35px
}

.menu u {
   display: block;
}

.menu-button {
    width: 160px;
    height: 20px;
    border: 1px solid #e8f5fa;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px #e8f5fa;
    margin-bottom: 10px;
}

.menu-button:hover {
    color: green;
    background: linear-gradient(45deg,#e8f5fa,white)
}

a,
a:visited {
    font-family: sans;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

a:hover {
    color: blue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    position: relative;
    width: 280px;
    height: 350px;
    border: 1px solid #e8f5fa;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 14px 20px #e8f5fa;
    background-color: white;
    overflow: hidden;
}

.card:hover {
    margin-right: -3px;
    margin-left: -3px;
    margin-top: -3px;
    margin-bottom: -4px;
    position: relative;
    width: 284px;
    height: 355px;
    border: 2px solid #e8f5fa;
    box-shadow: 5px 10px 25px #e8f5fa;
}

.card::before {
    position: absolute;
    margin-left: 270px;
    content: '';
    width: 20px;
    height: 700px;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 4px 0 70px white;
    transform: rotate(45deg);
    z-index: 2;
}
.card:hover::before {
    animation: animate 2s linear infinite;
}
@keyframes animate {
    from {
        transform: rotate(45deg) translateX(0px);
    }
    to {
        transform: rotate(45deg) translateX(-500px);
    }
}

.card span {
    font-family: sans;
    font-weight: bold;
    font-size: 22px;
}

.card .product-image {
    width: auto;
    height: 60%;
    margin-top: 5%;

}

.price {
    position: absolute;
    top: 78%;
    right: 0;
    padding: 5px;
    z-index: 1;
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
    font-size: 27px

}

.product_card {
    flex: 1;
    margin-left: 20px;
    border: 1px solid #e8f5fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px e8f5fa;
    background-color: white;
}



.sub-product-image {
    width: auto;
    height: 500px;
    margin-top: 30px;
}

.viewed_product-image {
    width: auto;
    height: 100px;
    margin-top: 10px;

}

.viewed_card {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 80%;
    height: width;
    border: 0px solid #e6f7fc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px e6f7fc;
    background-color: white;


.card-body {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.brand {
    font-style: italic;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    margin-bottom: 10px;
}

.background {
    position: fixed;
    top: 100%;
    left: 0%;
    width: 200%;
    height: auto%;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    flex-grow: 1;
}

.cart-summary {
    flex-shrink: 0;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-items .card {
    margin-bottom: 20px;
}

.cart-summary button {
    padding: 10px 20px; /* Размеры кнопки оплаты */
    background-color: #007bff; /* Цвет фона кнопки */
    color: red; /* Цвет текста кнопки */
    border: none; /* Убирает границы кнопки */
    cursor: pointer; /* Курсор при наведении */
}

.cart-summary button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}
