{% load static %}
{% load admin_urls %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <li style="display: inline-block; vertical-align: bottom; text-align: left; margin-top: 10px">
            <form action="{% url 'main:search' %}" method="get">
                <input type="text" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </li>
    </header>

    <aside>
        <div class="container-menu">
            <button onclick="history.back()">Back</button>
            <div class="menu">
                <u>
                    <a href="/">
                        <div class="menu-button">All products</div>
                    </a>
                {% for c in collection %}
                    <u>
                        <a href="{% url 'showcase:collection' col_slug=c.slug %}">
                            <div class="menu-button">{{ c.name }}</div>
                        </a>
                    </u>
                {% endfor %}
                </u>
            </div>
        </div>
       <div class="viewed_card">
    <p>Last viewed:</p>
    <center>
    {% for product_slug in request.session.viewed_products %}
        {% with product=product_slug|get_product_from_slug %}
            {% if product.slug %}
                {% if forloop.first %} {% endif %}{% if forloop.last %} {% endif %}
                    <a href="{% url 'showcase:product' p_slug=product.slug %}">
                    <img src="{{ product.product_images.first.image.url }}"
                         alt="Product Image" class="viewed_product-image"></a>
                    <p>{{ product.brand }} {{ product.name }}</p>
            {% endif %}
        {% endwith %}
    {% endfor %}
    </center>
</div>
    </aside>

    <main>
        <ul>
            <div style="vertical-align: top; text-align: right;">
                <li style="display: inline-block;">
                    <a href="{% url 'accounts:select' %}">
                        <img src="{% static 'account.png' %}" alt="Account" class="header-image">
                    </a>
                </li>
                <li style="display: inline-block;">
                    <a href="{% url 'cart:cart_detail' %}">
                    {% if cart.total_quantity > 0 %}
                        <img src="{% static 'cart_upd.png' %}" alt="Cart" class="header-image">
                    {% else %}
                        <img src="{% static 'cart.png' %}" alt="Cart" class="header-image">
                    {% endif %}
                    </a>
                </li>
                <li style="display: inline-block;">
                    <a href="{% url 'showcase:about' %}">
                        <img src="{% static 'about.png' %}" alt="AboutUs" class="header-image">
                    </a>
                </li>
                <li style="display: inline-block;">
                    <a href="https://github.com/jarnsorm">
                        <img src="{% static 'git.png' %}" alt="GitHub" class="header-image">
                    </a>
                </li>
            </div>
        </ul>
        <center>
            <h1>{{title}}</h1>
        </center>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-text"><p>ClockWork project created for educational purposes.
            All presented products and information about them are of an abstract nature.
            Any similarities with existing brands and names are purely coincidental.</p></div>
        <img src="{% static 'footer.png' %}" class="footer-image">
    </footer>

</body>
</html>
