{% load static %}
{% load admin_urls %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
</head>

<body>
    <header>
        <ul>
            <img src="{% static 'account.png' %}" alt="Account" class="header-image">
            <a href="{% url 'cart:cart_detail' %}">
            {% if cart.total_quantity > 0 %}
                <img src="{% static 'cart_upd.png' %}" alt="Cart" class="header-image">
            {% else %}
                <img src="{% static 'cart.png' %}" alt="Cart" class="header-image">
            {% endif %}</a>
            <a href="{% url 'showcase:about' %}">
                <img src="{% static 'about.png' %}" alt="AboutUs" class="header-image"></a>
            <a href="https://github.com/jarnsorm">
                <img src="{% static 'git.png' %}" alt="GitHub" class="header-image"></a>
            <a href="{% url 'admin:index' %}">
                <img src="{% static 'dev.png' %}" alt="-Dev-" class="header-image"></a>
        </ul>
    </header>

    <aside>
        <div class="container-menu">
            <button onclick="goBack()">Back</button>
            <div class="menu">
                <a href="/">Main</a></div>
            <br>
            <span>Collections</span>
            {% for c in collection %}
                <div class="menu">
                    <a href="{% url 'showcase:collection' col_slug=c.slug %}">{{ c.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="viewed_card">
            <p>Last viewed:</p>
            <center>
            {% for product_slug in request.session.viewed_products %}
                {% with product=product_slug|get_product_from_slug %}
                    {% if forloop.first %} {% endif %}{% if forloop.last %} {% endif %}
                        <a href="{% url 'showcase:product' p_slug=product.slug %}">
                        <img src="{{ product.product_images.first.image.url }}"
                             alt="Product Image" class="viewed_product-image"></a>
                        <p>{{ product.brand }} {{ product.name }}</p>
                    {% endwith %}
            {% endfor %}
            </center>
        </div>
    </aside>

    <main>
        <center>
            <h1>{{title}}</h1>
        </center>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <img src="{% static 'footer.png' %}" class="footer-image">
    </footer>

</body>
</html>
